.auth {
  min-height: 100vh;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;

  &-form {
    @include box-style;
    width: 340px;
    height: 450px;
    display: flex;
    flex-direction: column;
    flex: 0 auto;
    padding: 30px;

    &__header {
      padding: 20px 0;
      text-align: center;
      h2 {
        font-weight: 500;
        font-size: 20px;
      }
    }

    &__main {
      flex: auto;
    }

    &__footer {

    }
  }
}
