$color-text-body: #1E1E1E;
$color-text-body-light: #999999;

$color-primary: #3369F3;
$color-primary-hover: #0f3998;
$color-red: #FF2F2F;
$color-style-1: #FBFBFB;
$color-style-2: #F8F8F8;
$color-style-3: #EFEFEF;
$color-style-4: #E4EDFD;
$color-style-5: #EAEAEA;
$color-style-6: #F5F5F5;
