@import "colors";
@import "reset";
@import "fonts";
@import "mixins";

// Pages
@import "auth";
@import "src/pages/chats/chats";
@import "src/pages/500/500";
@import "src/pages/404/404";

// Components
@import "src/components/input";
@import "src/components/button";

body {
  margin: 0;
  font-family: 'Inter', sans-serif;
  color: $color-text-body;
}



