@import "colors";
@import "reset";
@import "fonts";
@import "mixins";

// Pages
@import "auth";
@import "src/pages/chats/chats";


// Components
@import "src/components/input";
@import "src/components/button";
@import "src/components/error";

body {
  margin: 0;
  font-family: 'Inter', sans-serif;
  font-weight: 500;
  color: $color-text-body;
}

.index-menu {
  @include main;
  @include flex-j-a-center;

  li {
    margin: 10px 0;
  }

  a {
    font-size: 20px;
  }
}


