@import "_mixins";
@import "_colors";

@import "reset";
@import "fonts";

body {
  margin: 0;
  font-family: 'Inter', sans-serif;
  font-weight: 500;
  color: $color-text-body;
}

.layout {
  @include main;
  display: flex;
}

.sidebar {
  border-right: 1px solid $color-style-5;
  background: $color-style-1;
}

.content {
  flex: auto 1;
  background: #fff;
}

.index-menu {
  @include main;
  @include flex-j-a-center;

  li {
    margin: 10px 0;
  }

  a {
    font-size: 20px;
  }
}


