*,
*::before,
*::after {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

a {
  text-decoration: none;
  color: $color-primary;

  &:hover {
    color: $color-primary-hover;
  }
}

input, textarea {
  font-family: inherit;
  font-weight: inherit;

  &:focus-visible {
    outline: none;
  }
}

button {
  cursor: pointer;
  border: none;
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

input[type=number] {
  -moz-appearance: textfield;
}
