---
title: Index
stylesheet: "../styles/base.scss"
---

{{#extend "default"}}
    {{#content "main"}}
        <nav class="index-menu">
            <ul>
                <li>
                    <a href="./login/login.hbs">Login</a>
                </li>
                <li>
                    <a href="./signup/signup.hbs">Signup</a>
                </li>
                <li>
                    <a href="./chats/chats.hbs">Chats</a>
                </li>
                <li>
                    <a href="./404/404.hbs">404</a>
                </li>
                <li>
                    <a href="./500/500.hbs">500</a>
                </li>
            </ul>
        </nav>
    {{/content}}
{{/extend}}
