.btn {
  display: block;
  background: $color-primary;
  color: #fff;
  font-size: 13px;
  padding: 12px;
  border-radius: 8px;
  width: 100%;
  border: none;
  transition: all .3s ease;

  &:hover {
    background: $color-primary-hover;
  }
}