<div class="error">
    <section class="error-content">
        <div class="error__code">{{ code }}</div>
        <div class="error__text">{{ text }}</div>
        <div class="error__link">
            <a href="#">Назад к чатам</a>
        </div>
    </section>
</div>
